@charset "UTF-8";

.notification{
	position: relative;
}

.notification .badge {
  position: absolute;
  top: -19px;
  right: -10px;
  padding: 5px 7px;
  border-radius: 50%;
  background: red;
  color: white;
}