<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Bai4_Bootstrap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/do-register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhap</display-name>
    <servlet-name>DangNhap</servlet-name>
    <servlet-class>controller.DangNhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhap</servlet-name>
    <url-pattern>/dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuat</display-name>
    <servlet-name>DangXuat</servlet-name>
    <servlet-class>controller.DangXuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuat</servlet-name>
    <url-pattern>/dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhachHangController</display-name>
    <servlet-name>KhachHangController</servlet-name>
    <servlet-class>controller.KhachHangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangController</servlet-name>
    <url-pattern>/khach-hang-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhMucAdminController</display-name>
    <servlet-name>DanhMucAdminController</servlet-name>
    <servlet-class>controller.DanhMucAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhMucAdminController</servlet-name>
    <url-pattern>/danh-muc-admin-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MauSacAdminController</display-name>
    <servlet-name>MauSacAdminController</servlet-name>
    <servlet-class>controller.MauSacAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MauSacAdminController</servlet-name>
    <url-pattern>/mau-sac-admin-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KichCoAdminController</display-name>
    <servlet-name>KichCoAdminController</servlet-name>
    <servlet-class>controller.KichCoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KichCoAdminController</servlet-name>
    <url-pattern>/kich-co-admin-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhuyenMaiAdminController</display-name>
    <servlet-name>KhuyenMaiAdminController</servlet-name>
    <servlet-class>controller.KhuyenMaiAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhuyenMaiAdminController</servlet-name>
    <url-pattern>/khuyen-mai-admin-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAdminController</display-name>
    <servlet-name>UserAdminController</servlet-name>
    <servlet-class>controller.UserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminController</servlet-name>
    <url-pattern>/user-admin-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SanPhamAdminController</display-name>
    <servlet-name>SanPhamAdminController</servlet-name>
    <servlet-class>controller.SanPhamAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SanPhamAdminController</servlet-name>
    <url-pattern>/san-pham-admin-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonHangAdminController</display-name>
    <servlet-name>DonHangAdminController</servlet-name>
    <servlet-class>controller.DonHangAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonHangAdminController</servlet-name>
    <url-pattern>/don-hang-admin-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SanPhamController</display-name>
    <servlet-name>SanPhamController</servlet-name>
    <servlet-class>controller.SanPhamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SanPhamController</servlet-name>
    <url-pattern>/san-pham-controller</url-pattern>
  </servlet-mapping>
</web-app>